language: node_js
node_js:
  - '8'

services:
  - docker

addons:
  firefox: "latest"
  apt:
    packages:
      - docker-ce

env:
  - MOZ_HEADLESS=1
  - DOCKER_COMPOSE_VERSION: 1.18.0

script:
  - npm test

install:
  - npm install
before_install:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > .npmrc
before_script:
  - npm run lint
